apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: st2110-monitoring
spec:
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
    name: http
  type: ClusterIP

