apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: st2110-monitoring
spec:
  selector:
    app: alertmanager
  ports:
  - port: 9093
    targetPort: 9093
    name: http
  type: ClusterIP

