apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: st2110-monitoring
spec:
  selector:
    app: grafana
  ports:
  - port: 3000
    targetPort: 3000
    name: http
  type: ClusterIP

